#ErrorToastContainer {
    z-index: 100;
    position: fixed;
    margin-top: 10px;
    top: 0;
    left: 50%;
    padding: 20px;
    border-radius: 10px;
    transform: translateX(-50%);
    background-color: rgb(228, 106, 106);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

#ErrorToastContainer.show {
    opacity: 1;
    margin-top: 20px;
}
