#NavBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  color: white;
  height: 60px;
}

#SaveButton {
    padding: 8px 40px;
    background-color: #f1f1f1;
    border: 2px solid #6d3fd1;
    border-radius: 10px;
    color: #6d3fd1;
    transition: background-color 0.3s;
}

#SaveButton:hover {
    background-color: #B9B9B9;

}
